.section {
    &__responsive {
        height: 50vh;
        background: url('./../images/responsive/responsive-bg.png') top no-repeat;
        background-size: 100% 50%;
        background-attachment: fixed;
        padding-top: 200px;
        @media (max-height: 768px) {
            background: url('./../images/responsive/responsive-bg-thin.png') top no-repeat;
            background-attachment: fixed;
            padding-top: 80px;
        }
    }
    &__title {
        position: relative;
        &--overlayLeft {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-1px);
        }
    }
    &__text {
        &--responsive {
            width: 50%;
        }
        &--li {
            margin-bottom: 20px;
            @media (max-height: 768px) {
                margin-bottom: 5px;
            }
        }
    }
}