* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:after,
:before {
    box-sizing: border-box;
}

input, button {
    outline: none;
    &:focus,
    :active {
        outline: none;
    }
}

a {
    text-decoration: none;
}